<div class="flex flex-col w-full items-center justify-between">
  <h2 class="p-4 bg-blue-600 w-full flex items-center justify-center text-white text-xl">REGISTER</h2>

  <div class="flex flex-col mt-8 w-full px-8">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="mt-4 w-full flex gap-12 items-center">
        <div class="flex gap-2 rounded-full items-center">
          <img width="64" height="64" src="https://img.icons8.com/puffy/32/experimental-user-puffy.png" alt="experimental-user-puffy" class="rounded-full border-[0.5px] border-black p-2"/>
          <p class="text-sm">Profile Photo</p>
        </div>
        <%= f.file_field :avatar, placeholder: 'Upload Profile Pic', class: 'w-full' %>
      </div>


      <div class="mt-4 w-full">
        <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: 'Full Name', required: true, class: 'w-full' %>
      </div>

      <div class="mt-4 w-full">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email', class: 'w-full' %>
      </div>

      <div class="mt-4 w-full">
        <% if @minimum_password_length %>
        <sup class="italic text-md">(<%= @minimum_password_length %> characters minimum <sup>**</sup>)</sup>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: 'New Password', class: 'w-full' %>
      </div>


      <div class="mt-4 w-full">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Confirm Password', class: 'w-full'%>
      </div>

      <div class="mt-4 w-full">
        <div class='flex items-center justify-center bg-emerald-300 hover:bg-emerald-600 p-2 cursor-pointer'>
          <%= f.submit "SIGN UP", class: 'cursor-pointer' %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="mt-4 w-full px-8 cursor-pointer">
    <div class='flex items-center justify-center bg-red-300 hover:bg-red-500 p-2 cursor-pointer'>
      <%= render "devise/shared/links" %>
    </div>
  <div>
</div>
